.flex-container {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.flex-item{
  background: blue;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 5px;
}

.row{
  flex-direction: row;
}

.row-reverse{
  flex-direction: row-reverse;
}

.row-reverse li{
background-color: red;
}

.column {
  float: left;
  flex-direction: column;
}

.column li {
  background: orangered;
}

.column-reverse {
  float: right;
  flex-direction: column-reverse;
}

.column-reverse li {
  background: purple;
}